*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --amarelo:#FDBA31;
    --cinza:#E2DADA;
    --roxo:#6818A5;
    --liylás:#D283FF;
    --roxo-escuro:#310055;
    --verde-limao:#8AC929;
    --azul:#1982C4;
    --rosa:#FF595E;
    --roxo2:#1F0534;
    --azul2:#0C3E5E;
    --tit:(Jaini Purva);
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}
#topo{
    min-height: 600px;
    padding: 20px 10px;
    background-image: linear-gradient(var(--roxo),var(--roxo2));
}
.grid-topo{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
#menu-topo{
    grid-column: 2/4;
}
.grid-topo > h2{
    grid-column: 1/3;
    color: var(--cinza);
    -webkit-text-stroke:3px #D283FF; 
    font-size: 4.7rem;
    font-weight: 800;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -80px;
}
#menu-topo > ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 40%;
    flex-wrap: wrap;
    gap: 5px;
}
#menu-topo a {
    width: 249px;
    text-align: center;
    font-size: 2.1rem;
    font-family:Jaini Purva;
    color: black;
    text-decoration: none;
    background-color: var(--liylás);
    border:5px solid var(--amarelo);
    border-radius: 5px;
    margin: 10px auto;
    padding:0px 5px;
    display:inline-block;
}
.grid-topo img{
    display: block;
    margin: 0 auto;
    margin-top:-50px;
}
#pacotes{
    min-height: 370px;
    background-color: var(--rosa);
    padding: 20px 10px;
}
#pacotes .icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
    text-align: center;
}
#pacotes p{
    margin:10px auto;
    text-align: left;
    font-size: 22px;
    background-image: url(imagens/Group\ 26.png);
    box-sizing: border-box;
    background-size: 100%;
    width: 320px;
    height: 330px;
    padding: 40px 50px;
    font-weight: 800;
}
#pacotes h3{
    font-size: 28px;
    text-align: left;
    margin-left: 90px;
}
#a{
    font-size: 28px;
    align-items: center;
    color: var(--roxo);
}#b{
    font-size: 28px;
    align-items: center;
    color: var(--amarelo);
}
#c{
    font-size: 28px;
    align-items: center;
    color: var(--roxo-escuro);
}
#d{
    font-size: 28px;
    align-items: center;
    color: var(--azul2);
}
#e{
    font-size: 28px;
    align-items: center;
    color: var(--verde-limao);
}
#hh{
    background-color: var(--azul);
    border-radius: 20px;
    font-weight: 800;
    width: 140px;
    align-items: center;
    border:10px solid #1982C4 ;
    font-size:18px ;

}
#hg{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
}
#galeria{
    background-image: url(imagens/lua.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#galeria h3{
    color: var(--amarelo);
    font-weight: 900;
    font-size: 40px;
}
#galeria h4{
    color: var(--amarelo);
    font-size: 40px;
    font-weight: 300;
}
#all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#v img{
    width: 320px;
    height: 200px;
    margin-left: 20px;
}
#n img{
    width: 320px;
    height: 200px;
    margin-left: -20px;
}
#j img{
    width: 320px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#conteudo3 #y{
    margin-right: 40px;
}
#y p{
    font-size: 30px;
    color: var(--amarelo);
}
#reservas {
    background-image: linear-gradient(to left bottom,var(--azul),var(--azul2));
    padding: 10px;
}
.ico{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:space-around;
    text-align: center;
    gap: 10px;
}
#reservas h3{
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
}
.ico p{
    font-size: 45px;
}
#ppp{
    margin-left: 40px;
    margin-right: -60px;
}
#pop{
    margin-top: -30px;
}
#icon3{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    width: 160px;
    height: auto;
    border-radius: 30px;
    font-size: 20px;
    margin: 20px auto;
}
#cadastro{
    background-image: url(imagens/image\ 32.png);
    padding:30px;
    padding-bottom: 50px;
}
#i1 img{
    width: 40px;
    height: 40px;
    margin-left: 470px;
}
#i2 img{
    width: 40px;
    height: 40px;
    margin-left: 640px;
    margin-top: -40px;
    margin-bottom: 20px;
}
#i3 img{
    width: 40px;
    height: 40px;
    margin-left: 640px;
    margin-top: -40px;
    margin-bottom: 20px;
}
#i4 img{
    width: 40px;
    height: 40px;
    margin-left: 280px;
    margin-top: -40px;
    margin-bottom: 20px;
}
#i5 img{
    width: 40px;
    height: 40px;
    margin-left: 280px;
    margin-top: -40px;
    margin-bottom: 20px;
}
#cadastro h3{
    color: rgb(170, 169, 169);
    margin-left: 15px;
}
#a1{
    background-color: var(--cinza);
    border-radius: 10px;
    font-size: 30px;
    width: 810px;
    margin-top: 30px;

}
#a2 h4{
    color: var(--cinza);
    background-color: white;
    border-radius: 7px;
    width: 700px;
    height: 70px;
    padding-top: 13px;
    margin-left: 15px;
}
#parte2{
    display: flex;
    gap: 10px;
}
#parte2 h4{
    color: var(--cinza);
    background-color: white;
    border-radius: 7px;
    width: 338px;
    height: 70px;
    padding-top: 13px;
    margin-left: 15px;
    margin-bottom: 20px;
}
#rodape{
    background-color: var(--roxo-escuro);
    color: white;
    padding: 40px 0;
}
#rodape .conteiner{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}
#pp1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pp1 img{
    width: 300px;
    margin-bottom: -100px;
}
#pp1 h1{
    font-size: 22px;
    color: white;
}
#pp2{
    text-align: center;
}
.fotos2 img{
    width: 650px;
    border-radius: 8px;
    margin-top: -140px;
    margin-bottom: 40px;
}
.redes a img{
    width: 80px;
    margin: 0 10px;
}
#rodape p{
    margin-top: 25px;
}
#vbbv{
    text-align:justify;
    font-size: 35px;
    margin-top: 25px;
}
#vbbb{
    margin-left: -100px;
    margin-bottom: -130px;
}
#acaboooouu{
    margin-top: 20px;
}
#acaboooouu p{
    text-align: end;
    margin-right: 90px;
}
#cont-int{
    font-size: 28px;
    margin: 0px 70px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    padding: 20px;
    border: 70px solid #310055;
    background-color: white;
}
#conteudo2{
    background-image: linear-gradient(var(--roxo2),var(--roxo),var(--roxo-escuro));
}
#conteudo3 #galeriamais{
    background-color: var(--azul);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#galeriamais{
    display:flex;
    font-size: 35px;
    align-items: center;
}
#galeriamais p{
    margin-left: -250px;
    background-color: var(--liylás);
    width: 280px;
    border-radius: 20px;
    text-align: center;
}
#galeriamais img{
    margin: 40px;
}
#conteudo3{
    background-color: #1982C4;
    padding-top: 40px;
}
#conteudo3 h1{
    background-color: #E2DADA;
    width: 400px;
    align-items: center;
    margin: 20px;
    border-radius: 8px;
    margin-top: -20px;
}
#ico2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:space-around;
    text-align: center;
    gap: 10px;
}
#ico2 p{
    font-size: 45px;
}
#formu{
    background-image: linear-gradient(var(--roxo2),var(--roxo),var(--roxo-escuro));
    padding: 30px 10px;
}
#form{
    max-width: 1200px;
    margin: auto;
    font-size: 34px;
    color: #D283FF;
}
#form h1{
    text-align: center;
    color: #1982C4;
}
#form button{
    width: 100px;
    font-size: 20px;
    background-color: #0C3E5E;
}



@media screen and (max-width:1024px){
    .grid-topo h2{
        font-size: 3.5rem;
        margin-top: -14px;
    }
    #grifot2{
        margin: 0px 20px;
        margin-right: 60px;
        margin-top: -30px;
    }
    #menu-topo li a{
        font-size: 2rem;
    }
    .grid-topo h1{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    #pp1 p{
        font-size: 2rem;
    }
    .fotos2 img{
        width: 600px;
    }
    #estrelas{
        display: flex;
        align-items: center;
        font-size: 30px;
        background-color: #310055;
        width: 400px;
        height: 150px;
        border-radius: 20px;
        margin-left: -30px;
    }
    #yy p{
        background-color: #8AC929;
        width: 100px;
        text-align: center;
        font-size: 20px;
        margin: 0px;
        margin-left: 25px;
        border-radius: 20px;
    }
    #conteudo3{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:768px){
    #menu-topo li a{
        width: 180px;
        font-size: 1.5rem;
    }
    #topo{
        min-height: 450px;
    }
    #grifot2{
        width: 300px;
        margin-right: 45px;
    }
    .grid-topo h1 img{
        width: 350px;
    }
    .grid-topo h2{
        font-size: 2.5rem;
        margin-top: -14px;
    }
    #pacotes .icons{
        grid-template-columns: 1fr 1fr;
    }
    #ico2{
        grid-template-columns: 1fr 1fr;
    }
    #ico2 p{
        font-weight: 600;
        font-size: 35px;
    }
    #hg img{
        width: 180px;
    }
    #hg h4{
        font-weight: 800px;
        font-size: 30px;
        height: 100px;
    }
    .fotos img{
        width: 320px;
        height: 200px;
    }
    .fotos2 img{
        width: 600px;
    }
    #estrelas img{
        width: 100px;
    }
    #estrelas{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 800;
        background-color: #310055;
        width: 300px;
        height: 100px;
        border-radius: 15px;
        margin-left: -10px;
        margin-top:50px;
    }
    .ico{
        grid-template-columns: 1fr 1fr;
    }
    .ico p{
        font-size: 35px;
        font-weight: 900;
    }
    #icon3{
        font-size: 25px;
        width: 200px;
        height: 70px;
        font-weight: 900px;
    }
    #icon3 img{
        width: 50px;
    }
    #a2 h4{
        width: 500px;
    }
    #parte2 h4{
        width: 240px;
    } 
    #a1{
        width: 600px;
    }
    #a1 img{
        margin: 0px;
    }
    #i1 img{
        margin-left: 260px;
    }
    #i2 img{
        margin-left: 190px;
    }
    #i3 img{
        margin-left: 222px;
    }
    #i4 img{
        margin-left: 110px;
    }
    #i5 img{
        margin-left: 110px;
    }
    #vbbv p{
        font-size:25px ;
    }
    .fotos2 img{
        width: 380px;
    }
    #yy p{
        background-color: #8AC929;
        width: 100px;
        text-align: center;
        font-size: 20px;
        margin: 0px;
        margin-left: 25px;
        border-radius: 20px;
    }
    #conteudo3{
        padding-bottom: 20px;
    }
    #cont-int{
        border: 20px var(--roxo-escuro) solid;
    }
    #cont-int p{
        font-size: 10px;
    }
}
@media screen and (max-width:425px) {
    .grid-topo{
        display: flex;
        flex-wrap: wrap;
    }
    .grid-topo h1 img{
        width: 200px;
    }
    #menu-topo a{
        width: 150px;
    } 
    .grid-topo h2{
        font-size: 30px;
        margin: 10px;
    }
    #grifot2{
        width: 250px;
        margin-top: 30px;
        margin: auto;
    }
    #pacotes .icons{
        grid-template-columns: 1fr;
    }
    #ico2{
        grid-template-columns: 1fr;
    }
    .icons article{
        margin: 20px auto;
    }
    #nnnn h3{
        margin-left: 60px;
    }
    #vvvvv h3{
        margin-left: 60px;
    }
    #jjjjjjj h3{
        margin-left: 60px;
    } 
    #galeria h3{
        font-size: 40px;
        margin-left: 5px;
    }
    #galeria h4{
        font-size: 27px;
        margin-left: 5px;
    }
    #all{
        grid-template-columns: 1fr;
    }
    #all img{
        margin-left: 0px;
        margin-left: 20px;
    }
    #estrelas{
        margin-top: -20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #galeria{
        background-size: auto;
    }
    .ico{
        grid-template-columns: 1fr;
    }
    .ico p{
        font-size: 40px;
    }
    .ico article{
        margin: 5px auto;
    }
    #a1{
        width: 390px;
        margin-left: -12px;
    }
    #a2 h4{
        width: 360px;
    } 
    #parte2{
        display: grid;
        grid-template-columns: 1fr;
    }
    #parte2 h4{
        width: 360px;
    }
    #a1 img{
        margin: 0px;
    }
    #i1 img{
        margin-left: 300px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    #i2 img{
        margin-left: 300px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    #i3 img{
        margin-left: 300px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    #i4 img{
        margin-left: 300px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    #i5 img{
        margin-left: 300px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    #i5p2{
        margin-top: -25px;
    }
    #rodape .conteiner{
        grid-template-columns: 1fr;
    }
    #pp1 img{
        width: 200px;
    }
    #vbbv p{
        font-size: 20px;
    }
    .fotos2 img{
        margin-top: 0px;
    }
    .redes a img{
        width: 50px;
    }
    .redes{
        margin: 0px auto;
        margin-bottom: 70px;
        margin-top: -40px;
    }
    #vbbb{
        margin: 0px;
        margin-top: -50px;
        margin-left: -190px;
    }
    #galeriamais{
        font-size: 25px;
    }
    #galeriamais p{
        width: 200px;
        margin-top: 300px;
    }
    #yy p{
        background-color: #8AC929;
        width: 100px;
        text-align: center;
        font-size: 20px;
        margin: 0px;
        margin-left: 25px;
        border-radius: 20px;
    }
    #conteudo3{
        padding-bottom: 20px;
    }
    #form fieldset{
        font-size: 20px;
    }
}